<div class="form-horizontal">

<%= form_for(@profile,:url => update_profile_path,:method => :post) do |f| %>
<fieldset><legend>Update Profile Information</legend>
  <%= render :partial => "shared/validation_msg",:locals=>{:obj=>@profile} %>
  
  <% if @profile.user.is_non_profit?%>
  <div class="control-group">
  	<%= f.label :ein, :class=>"control-label" %>
  	
  	<div class="controls">
   <%= f.text_field :ein, :disabled => true %>
    </div>
    
  	</div>
  <% end%>
  
 <div class="control-group">
    <%= f.label :name,"Name (*)" ,:class=>"control-label"%>
 <div class="controls">
    <%= f.text_field :name,{:placeholder=>"",:required=>true, :class=>"input-xlarge"} %>
    </div>
 </div>
 
 
  <div class="control-group">
    <%= f.label :website ,:class=>"control-label"%>
 	<div class="controls">
    	<%= f.url_field :website, :class=>"input-xlarge" %>
    </div>
  </div>
  
  
  
  
  
  <div class="control-group">
   <% if @profile.user.is_non_profit?%>  <%= f.label "Mission Statement",:class=>"control-label"%>
   <%else%>
   <%= f.label "About you (*)",:class=>"control-label"%>
   <%end%>
    <div class="controls">
    <%= f.text_area :description,{:placeholder=>"",:size => "66x4",:required=>true ,:style=>"width:auto;"} %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label "Additional Info",:class=>"control-label" %>
    <div class="controls">
    <%= f.text_area :additional_information,{:placeholder=>"",:size => "66x10" ,:style=>"width:auto;",:maxlength=>"2000"} %>
    </div>
  </div>
  
  <% if current_user.is_501c_applicabale? %>
  <div class="control-group">
    <%= f.label "Are you a 501(c)(3) in good standing?" ,:class=>"control-label"%>
    <div class="controls">
    		<%= f.select :qualified_501c,[['Yes', 1],['No', 0]]%>
    		
    </div>
    </div>
  <% end %>
   <div class="form-actions">
    	<%= f.submit "Update" %>
    	
    </div>
  </fieldset>
<% end %>
</div>
