<div class="form-horizontal">


<%= form_for(@address,:url => user_address_update_path,:method => :post) do |f| %>
   <fieldset "><legend>Address</legend>
  <%= render :partial => "shared/validation_msg",:locals=>{:obj=>@address} %>
 
 <div class="control-group">
 	<div class="control-label">
    <%= f.label :address1 %>
    </div>
    <div class="controls">
    <%= f.text_field :address1,{:placeholder => "Address1",:required => true} %>
    </div>
 </div>
 <div class="control-group">
 	<div class="control-label">
    <%= f.label :address2 %>
    </div>
    <div class="controls">
    <%= f.text_field :address2,{:placeholder => "Address2"} %>
    </div>
 </div>
 
  <div class="control-group">
  	<div class="control-label">
    <%= f.label :city %>
    </div>
    <div class="controls">
    <%= f.text_field :city_name,{:placeholder => "City/Town",:required => true} %>
 </div>
 </div>
 <div class="control-group">
 	<div class="control-label">
    <%= f.label :state_id %>
    </div>
    <div class="controls">
    <%= f.collection_select :state_id,State.all,:id,:name %>
  </div>
 </div>
 <div class="control-group">
 	<div class="control-label">
    <%= f.label :zip_code %>
    </div>
    <div class="controls">
    <%= f.text_field :zip_code,{:placeholder => "Zip code",:required => true} %>
 </div>
 
 </div>
 
  <div class = "control-group">
 	
    <%= f.label :phone,:class=>"control-label" %>
    
    <div class="controls">
    	<%= f.text_field :phone,{:placeholder => "Phone",:class=>"phone"} %>
 	</div>
  </div>
 
 <div class="form-actions">
  	
  	
    	<%= f.submit "Update" %>
    </div>
 
 
</fieldset>
<% end %>
</div>


