<div class="form-horizontal">
<fieldset>
	<legend>Reserved UserName</legend>
<%= form_for([:admin,@reserved_username]) do |f| %>
   <%= render :partial => "shared/validation_msg",:locals=>{:obj=>@reserved_username}%>
   
<div class="control-group">
    <%= f.label "User Name" ,:class=>"control-label" %>
    
    
  <div class="controls">
   
    <%= f.text_field :username %>
  </div>
</div> 
  
 
  
   <div class="form-actions">
      <%= f.submit "Save",:class=>"btn-primary" %> 
  </div>
<% end %>
</fieldset>
</div>
