<div class="row-fluid">
        <div class="span7">
	<% if session[:valid_firstgiving_user]%>
	<%= image_tag("signup-icon.png") %>  <h4 class="npserarh4">Nonprofit Signup</h4>
	<% else %>
	<%= image_tag("signup-icon.png") %>  <h4 class="npserarh4">Individuals and Companies: Register here</h4>
	<%end%>
	<hr />
			<%= render :partial => "registrations/form" %>
	

	</div>
	
	
	 <div class="span5">
	 	<div class="">
	 		<%= image_tag("search_user.png",:style=>"height:26px;")%> 
		<h4 class="npserarh4">Nonprofits: Register here</h4>
		<hr />
		<%= form_tag(get_nonprofit_from_api_path,:class=>"well form-search") do %>
			<%=text_field_tag :ein,"",:class=>"input-medium search-query ein",:placeholder=>"Search by EIN", :required => true,:pattern=>"[0-9]+"%>
			
			
			<%=button_tag "Search",:class=>"btn"%>
			<br />Please don't use any spaces or punctuation. <br /> Must be U.S. based 501(c)(3).
		<%end%>
	</div>
	 	</div>
	 	
            
	
</div>


