<div class="form-horizontal">
<%= form_for(@user, :url => updatepassword_settings_path,:html=>{:method => :post}) do |f| %>
<fieldset><legend>Change your password</legend>
  <%= render :partial => "shared/validation_msg",:locals=>{:obj=>@user}%>
  <div class="control-group">
  	<div class="control-label">
  	<%= f.label :password, "New password" %>
  	</div>
  	<div class="controls">
  		<%= f.password_field :password %>
  </div>
  </div>

  <div class="control-group">
  	<div class="control-label">
  	<%= f.label :password_confirmation, "Confirm new password" %>
  	</div>
  	<div class="controls">
  <%= f.password_field :password_confirmation %>
  </div>
  </div>

  <div class="form-actions"><%= f.submit "Change my password" %></div>
</fieldset>
<% end %>
</div>
