<% followers = capture do %>
  <% @followers.each do |user| %> 
    	<div class="well box" id='follower_<%=user.id%>'>
			<div class="row-fluid">
			    <div class="span2">
						<ul class="thumbnails">
							<li>
								<div class="thumbnail">
									<%= link_to get_avatar_small(user),profile_path(user.url_param) %>
								</div>
							</li>
						</ul>
				</div>
			    <div class="span8">
			    		<% unless user.profile.nil? %>
		                  	<h3><%= link_to user.profile.name ,profile_path(user.url_param),:class=>"" %></h3>
		                    <p><%=truncate( user.profile.description,:length=>150)%></p>
			       		
		    		   	<% else %>
						   <h3>&nbsp;</h3>
					      	<p>&nbsp;</p>
						<% end %>
						<% if !user.profile.nil? && user.profile.website? %>
			        			<a href="<%= user.profile.website%>" target = "_blank"><%= user.profile.website %></a>
							<%end%>
					<%= link_to "View Profile",profile_path(user.url_param),:class=>"btn btn-mini btn-primary" %>
					                
				</div><!-- .divCharity -->
				<div class="span2">
						<i><%= user.user_type.name %></i>
					
					<br />
					
					<% if current_user && current_user.followed_by?(user) && controller_name == "follow"%>
					<%= link_to "Block",block_follower_path(user.id),:remote => true ,:class=>"ajax btn btn-primary"%>
				<%end%>
				
				<% if current_user && controller_name != "follow"%>
					
					<%if current_user.id!=user.id%>
						<div class="followlinks_<%= user.id%>">
							
							<%= render :partial => "follow/followunfollowpublic_links",:locals=>{:user => user}%>
							
						 </div>
						<%end%> 
						<% end %>
				
				</div>
		   			
		    </div>
		    </div>
	  <%end%>
  
<% end %>
$('.my_follower').append('<%= escape_javascript(followers) %>');
$('#pagination_link').html('<%= escape_javascript(get_more_will_paginate(@followers, "follower_pagination"))%>');
